---
layout: base
---

<header class="flags">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <img width="350px" height="350px" src="assets/img/logo.png" />
                <h2 class="text-white font-weight-bold">{{ page.header.title }}</h2>
                <h4 class="text-white font-weight-bold">{{ page.header.subtitle }}</h4>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">{{ page.header.text }}</p>
                {% if page.header.action %}
                <a href="{{ page.header.action.url }}"
                    class="btn btn-xl js-scroll-trigger {{ page.header.action.class | default: " btn-primary" }}">
                    {{page.header.action.label }}
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</header>

{% for section in page.sections %}
{% include {{ section.type }} section=section site=site page=page %}
{% endfor %}

{{ content }}